* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(235, 21%, 11%);
}

.top-img {
    width: 100%;
    height: 225px;
    background-size: cover;
    background-image: url("./images/bg-mobile-dark.jpg");
}

main {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 10px;
    padding-top: 10px;
}

.tgl-btn {
    background: url("./images/icon-sun.svg");
    width: 30px;
    height: 30px;
    background-size: cover;
}